alias chrome='open -a "Google Chrome"'
alias sublime='open -a "Sublime Text"'
alias atom='open -a "Atom"'
alias vs='open -a "Visual Studio Code"'
alias binja='/Applications/Binary\ Ninja.app/Contents/MacOS/binaryninja'

alias attach="hdiutil attach" # attach a .dmg image
alias preview="qlmanage -p" # preview images

alias encrypt='openssl enc -aes-256-cbc -a -salt -in'
alias decrypt='openssl enc -base64 -d -aes-256-cbc -salt -in'
alias stp="echo '<some_b64_encrypted_value>' | openssl enc -base64 -d -aes-256-cbc -salt | pbcopy"

alias mv='mv -v'
alias rm='rm -v'
alias cp='cp -v'
alias fs="stat -f \"%z bytes\""

alias airport="/System/Library/PrivateFrameworks/Apple80211.framework/Versions/Current/Resources/airport"
alias ports="lsof -i TCP -n -P | grep LISTEN" # show listening tcp ports

# just for fun
alias shrug="printf '¯\_(ツ)_/¯' | pbcopy"

# Start kali container
alias kali='docker run -ti -d --hostname kali -v /pentest/msf:/usr/share/metasploit-framework --net=host --privileged metasploit /bin/bash'
